
.myButton {
    /* box-shadow: 0px 1px 0px 0px #f0f7fa; */
    /* change the shadow in the raport with photo  */
	background-color:#000b4c;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
}

.jugartext{
    color:#ffffff ;
}

.w-100 {
    width: 100%!important;
    height: 501px;
}

/*css de botones */

.cards-list {
	z-index: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;	
}
  
.carda {
	margin: 30px auto;
	width: 443px;
	height: 275px;
	border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
	cursor: pointer;
	transition: 0.4s;
}
  
.carda .card_image {
	width: inherit;
	height: inherit;
	border-radius: 40px;
}
  
.carda .card_image img {
	width: inherit;
	height: inherit;
	border-radius: 40px;
	
}
  
.carda .card_title {
	text-align: center;
	border-radius: 0px 0px 40px 40px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin-top: -80px;
	height: 40px;
}
  
.carda:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
	  -5px -5px 30px 15px rgba(0,0,0,0.22);
}
  
.title-white {
	color: white;
}
  
.title-black {
	color: black;
}

@media (max-width: 700px) {
	.cards-list {
	  /* On small screens, we are no longer using row direction but column */
	  flex-direction: column;
	}
	
	.carda {
	width: 264px;
	height: 220px;
	}  
  }