.teamLogo{
  height: 90%;
  max-width: 90%;
}

.logoSquare {
  border: 1px solid black;
  border-radius: 8px;
}

.flagSquare :hover {
  background-color: lightgrey;
}

.footballGameContainer > h1 {
  margin-bottom: 2%;
  width: 95vw;
}

.MuiGrid-spacing-xs-3 {
    width: 100% !important;
}

#generalContainer {
  display: flex;
  background-color: #043A40;

}

.footballGameContainer > h1 {
  color: lightgrey
}

@media screen and (max-width: 350px) {
  .footballGameContainer {
    height: 100vh;
    background-image: url("./images/grass_background.png");
    background-size: cover;
  }
  .footballGameContainer > h1 {
    padding-left: 30px;
    font-size: 20px;
  }
  .SmallSquareGrid{
    display: none
  }
}

@media screen and (min-width: 349px) {
  .SmallSquareGridIframe {
    display: none
  }
}
