/*
#Board{
  cursor: url(./components/images/cursor.png)
}
*/



.team-logo{
  height: 100%;
  width: 90px;
  }
  
  .globalContainer {
    background: #043A40 0% 0% no-repeat padding-box;
    color: white;
  }
  
  .pantalla{
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  #Image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 86px;
    grid-auto-rows: 20%;
    align-items: start;
    position: relative;
  }
  
  #squarecontainer {
    width: 100%;
  }