#team-container {
    width: 80%;
    height: 80%;
}

.img-container {
    display: flex;
    align-items: start;
    max-width: 565px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.img-team img {
    height: 86px;
}