.Nonogram {
    background-color: rgb(228, 226, 215);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:335px) {
        height: 100vh;
    }  
}

.btn {
    padding: .175rem .45rem !important;
    background-color: #FFFFFF!important;
    border-color: #707070 !important;
    border-radius: 1rem !important;
} 

.btn-primary {
    color: #012B5E !important;
}

.btn-secondary {
    color: #fff;
    background-color: #002A5E !important;
    border-color: #002A5E !important;
}

table.center {
    empty-cells: hide;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    @media screen and (max-width:335px) {
        margin-right: 70px;
    }  

    & .cell {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        font-size: 1px;
        padding: 1px;
        color: white;
        margin-right: 5px;
        border: 0.4px solid #707070;
        border-radius: 10px;

        animation: bounceIn 3s ease-in-out ;
        @keyframes bounceIn {
            0% {
                transform: scale(0);
                opacity: 0;
            }
            60% {
                transform: scale(1.1);
                opacity: 1;
            }
            100% {
                transform: scale(1);
            }
            }

        @media screen and (max-width:335px) {
            width: 1.6rem;
            height: 1.6rem; 
        }
        &:hover {
            cursor: pointer;
        }    
    }


    // Cases of the cells...No selected:0 /OK:1 / KO:2 
    & .cell_0 {
        background-color: #f6f4f4;
    }

    & .cell_1 {
        background-color: #383838;
    }

    & .cell_2 {
        background-color: rgb(243, 104, 104);
    }
}

.clue {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: right;
    color: #383838;
    
    @media screen and (max-width:335px) {
        font-size: 0.8rem;
    }
}

.h_clue {
    letter-spacing: 12px;
    padding-right: 4px;
    padding-bottom: 8px;

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}

.restart_button  {
    margin: 5px;
    @media screen and (max-width:335px) {
        position: absolute;
        top: 50%;
        left: 72%;
    }
}

.iframe_button  {
    margin: 5px;
    display: none !important;
    @media screen and (max-width:335px) {
        display: block !important;
        position: absolute;
        top: 59%;
        left: 72%;
        color: #fff !important;
        background-color: #002A5E !important;
        border-color: #002A5E !important;
    }
}

.selector_button {
    margin: 5px
}

.v_clue_p {
    margin: auto;
    padding-right: 4px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-bottom: 4px;
}

.buttons {
    display: flex;
    margin: 0.9rem;
    justify-content: center;
    
    @media screen and (max-width:330px) {
        margin: 0.3rem;
    }
}

.img_rocket {
    height: 30vh;
}

.rocket_start {
    position: absolute;
    top: 40%;
    z-index: 9999;
    left: -690px;

    animation: start 3s ease-in ;
        @keyframes start {
            0% {
                transform: translate(0); 
            }
            100% {
                transform: translate(2500px);
            }
        }
}

@media screen and (max-width:335px) {
    .drop8 {
        display:none !important;
    }
    .drop10 {
        display:none;
    }
    .selector_button {
        display: none !important ;
    }
    .modal-body {
        font-size: 11px !important;
    }
}

.nonograma_image {
    top: 90px;
    position: absolute;
    left: 0px;
    height: 100px;

    @media screen and (max-width:950px) {
        height: 80px;
        display: none;
    }
}

.panda_image {
    height: 40px;
    margin-bottom: -20px;
    margin-right: 4px;

    @media screen and (max-width:768px) {
        height: 40px;
        margin-bottom: -10px;
        margin-right: 10px;
        
    }

    @media screen and (max-width:330px) {
        height: 30px;
    }
}

