.Nonogram {
    background-color: #0C1348;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
}

.btn-primary {


}

// .container-fluid {
//     width: 100vw;
// }

table.center {
    empty-cells: hide;

    & td {
        padding: 10px;
        // text-align: center;
        width: 60px;
        height: 60px;
         
    }

    // Cases of the cells...No selected:0 /OK:1 / KO:2 
    & .cell_0 {
        background-color: rgb(236, 236, 236);
        width: 2rem;
        height: 2rem;
        border: 1px solid black;
    }

    & .cell_1 {
        background-color: rgb(86, 93, 148);
        width: 2rem;
        height: 2rem;
        border: 1px solid black;
    }

    & .cell_2 {
        background-color: red;
        width: 2rem;
        height: 2rem;
        border: 1px solid black;
    }
}

.clue {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: right;
    color: rgb(236, 236, 236);
}

.v_clue {
    letter-spacing: 4px;
}

.h_clue {
    letter-spacing: 8px;
    padding-right: 4px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}

.restart_button  {
    margin-top: 25px;
    margin-bottom: 25px;
}

.v_clue_p {
    margin: auto;
    writing-mode: vertical-lr;
    text-orientation: upright;
}