.Nonogram {
    background-color: #0C1348;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
}

.btn {
    padding: .175rem .45rem !important;
    background-color: rgb(26, 189, 206) !important;
    border-color: rgb(26, 189, 206) !important;
} 

.btn-secondary {
    color: #fff;
    background-color: rgb(144, 41, 156) !important;
    border-color: rgb(144, 41, 156) !important;
}
// .container-fluid {
//     width: 100vw;
// }

table.center {
    empty-cells: hide;
    display: flex;
    justify-content: center;

    & td {
        // padding: 10px;
        // text-align: center;
        width: 3rem;
        height: 3rem; 

        @media screen and (max-width:330px) {
            width: 1.8rem;
            height: 1.8rem; 
        }
         
    }

    // Cases of the cells...No selected:0 /OK:1 / KO:2 
    & .cell_0 {
        background-color: rgb(236, 236, 236);
        // width: 2rem;
        // height: 2rem;
        border: 1px solid black;
    }

    & .cell_1 {
        background-color: rgb(86, 93, 148);
        // width: 2rem;
        // height: 2rem;
        border: 1px solid black;
    }

    & .cell_2 {
        background-color: red;
        // width: 2rem;
        // height: 2rem;
        border: 1px solid black;
    }
}

.clue {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: right;
    color: rgb(236, 236, 236);
    
    @media screen and (max-width:330px) {
        font-size: 0.8rem;
    }
}

.v_clue {
    // letter-spacing: 4px;
}

.h_clue {
    letter-spacing: 8px;
    padding-right: 4px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}

.restart_button  {
    margin: 5px
}

.selector_button {
    margin: 5px
}

.v_clue_p {
    margin: auto;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.buttons {
    display: flex;
    margin: 0.9rem;
    justify-content: center;
    
    @media screen and (max-width:330px) {
        margin: 0.3rem;
    }
    
}