#header-profile {
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: 0.4s;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2888888;
}

#header-profile__wrapper.smaller {
    height: 50px;
}

.header-profile__logo.smaller {
    width: 200px;
    line-height: 50px;
    margin-left: 146px;
    margin-top: auto;
}

#header-profile__wrapper {
    width: 100%;
    background-color: #001c4c;
    height: 94px;
    display: block;
    margin: auto;
    padding: 0 10px;
}


.navbarRow {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
    width: 100%;
}

.header-profile__logo {
    width: 338px;
    line-height: 50px;
    margin-left: 193px;
    margin-top: 9px;
}


.header-logo-wrapper .header-fixed-tools {
    display: block;
    position: absolute;
    top: 2px;
    right: -8px;
}

.header-fixed-tools .icon-tool {
    margin-right: 0;
    height: 45px;
    font-size: 16px;
    font-size: 1rem;
}


.imageHome {
  align-content: center;
  margin: 13px;
  height: 45%;

}

nav.header-menu.marginfix {
    margin-top: 75px !important;
}
@media (max-width: 331px){
  
  #header-profile {
    display: none;
  }
  .firstRow {
    display: none;
  }
  #header-profile__wrapper {
    display: none;
}   
}
