.item-card {
    width: 125px;
    height: 125px;
 }
 
 .cover {
     width: 125px;
     height: 125px;
     background-color: #ffb300;
 }
 
 .content {
     width: 125px;
     height: 125px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: tomato;
 }
 
 .ReactFlipCard {
     width: 100%;
     height: 100%;
 }
 