.memory-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.title {
    font-size: 25px;
    padding: 10px;
    color: #fff;
}

.memoryResult {
    font-size: 14px;
    padding: 10px;
    color: #fff;
}

.winner-reinit-button {
    position: fixed;
    width: 50%;
    max-width: 200px;
    height: 200px;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    background-color: #00004C;
    color: white;
    z-index: 2;
}