.memory-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.title {
    font-size: 25px;
    padding: 10px;
    color: #fff;
}

.memoryResult {
    color: white;
    font-weight: bold;
}

.reinit-button {
    color: rgb(40, 40, 40);
    background-color: lightgray;
    cursor: pointer;
    padding: 5px;
    max-width: 100px;
    margin: 0 auto;
    border-radius: 5px;
}

.reinit-button:active {
    background-color: darkgray;
    color: white;
}

.winnerMemoryResult {
    position: fixed;
    width: 50%;
    max-width: 200px;
    height: 50px;
    margin:5% auto 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    background-color: purple;
    color: white;
    z-index: 2;
}

.winner-reinit-button {
    position: fixed;
    width: 50%;
    max-width: 200px;
    height: 200px;
    margin: 12% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    background-color: #00004C;
    color: white;
    z-index: 2;
}

@media (max-width: 400px) {
    .memoryResult {
        margin:9% auto 5% auto;
    }
    .winner-reinit-button {
        margin: 25% auto;
    }

}