.memory-header {
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.title {
    font-size: 25px;
    padding: 10px;
    color: #fff;
}