.memory-body {
    background-image: url('../../sharedImages/memoryBackground.jpg');
    background-size: cover;
    display : flex;
    flex-direction: column;
  }
  
  div:focus {
    outline: none !important;
  }