.table {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 450px;
    margin: 0 auto;
    justify-content: space-around;
}


@media (max-width: 715px) {
  .table {
    width: 80%;
  }
}

  @media (max-width: 584px) {
    .table {
      width: 100%;
      height: 70%;
    }
}

@media (max-width: 472px) {
  .table {
    width: 80%;
    height: 77vh;
  }
}

@media (max-width: 400px) {
  .table {
      width: 100%;
      height: 80vh;
  }
}

@media (max-width: 360px) {
  .table {
      width: 80%;
      height: 70%;
  }

}

