.OneToFifty {
    background-image: linear-gradient(to right bottom, #2f243a, #342b41, #393247, #3e394e, #444054);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    & p {
        margin: 0;
    }

    & .justifyCenter {
        display: flex;
        justify-content: center;
    }

    & .alignCenter {
        display: flex;
        align-items: center;
    }

    & .timeAndActualNumber {
        margin-bottom: 20px;
        background-color: rgb(190, 190, 190);
        border-radius: 20px;
        color: #444054;
        width: 70vw;
        padding: 10px 0;
        & .chronoText{
            font-size: x-large;
            font-weight: bold;
        }
    }

    & .numbersGrid{
        width: 320px;
        margin: auto;
        // @media screen and (max-width: 600px){
        //      width:85%;
        // }
        & .cellNumber {
        background-color: #DB8A74;
        color: white;
        // border-radius: 10px;
        margin:2px;
        height: 60px;
        width: 60px;
        font-size: 28px;
        font-weight: 600;
    }
    }
    & .restartButton {
        background-color: white;
        border: 2px solid #DB8A74;
        margin: 15px;
        color: #444054;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        padding: 5px 10px;
        font-weight: 600;
    }
    
}


